<h1 id="qunit-header">FIZZBUZZ App</h1>
<div>
  <label>Please input here</label>
  <input id="input" type="text" size="10"></input>
  <button onclick = "$('#output').text(result($('#input').val()));">Click me!</button>
  <h1><label id="output"></label></h1>
</div>